[Desktop Entry]
Name=PygiHashLibGui
GenericName=hash
Comment=Gui For hashLib
Exec=pygihashlibgui
Icon=com.github.yucefsourani.PygiHashLibGui
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
